@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}
.container {
  font-family: "Open Sans", sans-serif;
  background-color: #fafafa;
  nav {
    height: 138px;
    ul {
      display: flex;
      list-style-type: none;
      align-items: center;
      margin-left: 40px;
    }
    img {
      width: 87px;
      height: 86px;
      margin-left: 215px;
      margin-top: 31px;
    }
    .li1 {
      margin-left: 133px;
      margin-top: 40px;
    }
    .li2 {
      margin-left: 82px;
      margin-top: 40px;
    }
    .li3 {
      margin-left: 271px;
      margin-top: 40px;
    }
    .li4 {
      margin-left: 147px;
      margin-top: 40px;
    }
    @media (max-width: 1000px) {
      height: 0;
      ul {
        display: none;
      }
    }
    @media (max-width: 400px) {
      height: 0;
      ul {
        display: none;
      }
    }
  }
  .second {
    display: flex;
    img {
      width: 719px;
      height: 774px;
    }
    .stol {
      margin-left: 37px;
      align-items: center;
      .p1 {
        margin-top: 198px;
        font-weight: 300;
        font-size: 16px;
        line-height: 150%;
      }
      h2 {
        width: 514px;
        margin-top: 17px;
        font-weight: 400;
        font-size: 48px;
        line-height: 120%;
      }
      .p2 {
        margin-top: 40px;
        font-weight: 300;
        font-size: 18px;
        line-height: 150%;
      }
      button {
        margin-top: 70px;
        width: 245px;
        height: 60px;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        background: #a1b29f;
        color: #f6f6f6;
        border: 1px solid #a1b29f;
        cursor: pointer;
      }
      img {
        margin-top: 100px;
        display: inline-block;
        width: 30px;
        height: 30px;
        margin-left: 40px;
      }
      .smot {
        display: flex;
        align-items: center;
        margin-left: 350px;
      }
    }
    .hhr {
      width: 100%;
      border: 1px solid black;
    }
    @media (max-width: 1000px) {
      display: flex;
      flex-direction: column-reverse;
      img {
        margin-top: 40px;
        width: 1000px;
        height: 1015.27px;
      }
      .stol {
        margin: 0;
        margin-left: 38px;
        .p1 {
          font-size: 36px;
          margin-top: 114px;
        }
        h2 {
          width: 1000px;
          font-weight: 400;
          font-size: 42px;
          line-height: 120%;
        }
        .p2 {
          font-size: 27px;
        }
        button {
          margin: 0;
          margin-top: 40px;
        }
        .smot {
          margin: 0;
          display: block;
          margin-top: 77px;
          img {
            margin: 0;
            margin-left: 5px;
            width: 60px;
            height: 60px;
          }
        }
      }
    }
    @media (max-width: 400px) {
      display: flex;
      flex-direction: column-reverse;
      img {
        margin-top: 40px;
        width: 400px;
        height: 415.27px;
      }
      .stol {
        margin: 0;
        margin-left: 38px;
        .p1 {
          width: 200px;
          margin-top: 114px;
          font-size: 16px;
        }
        h2 {
          width: 375px;
          font-weight: 400;
          font-size: 32px;
          line-height: 120%;
        }
        .p2 {
          font-size: 18px;
        }
        button {
          margin: 0;
          margin-top: 20px;
        }
        .smot {
          margin: 0;
          display: block;
          margin-top: 77px;
          img {
            margin: 0;
            margin-left: 5px;
          }
        }
      }
    }
  }
  .nika {
    h3 {
      font-weight: 400;
      font-size: 48px;
      line-height: 120%;
      color: #57463a;
      margin-top: 160px;
      margin-left: 135px;
    }
    .pro {
      margin-top: 100px;
      margin-left: 185px;
      display: flex;
      p {
        border-bottom: 3px solid #715b4b;
        width: 230px;
        font-weight: 300;
        font-size: 18px;
        line-height: 150%;
        margin-left: 116px;
        color: #323232;
      }
    }
    .bole {
      h2 {
        margin-top: 160px;
        margin-left: 140px;
        font-weight: 400;
        font-size: 48px;
        line-height: 150%;
        color: #57463a;
      }
    }
    .obwi {
      margin-top: 100px;
      margin-left: 140px;
      img {
        width: 100px;
        height: 100px;
        margin-top: 50px;
        margin-left: 100px;
      }
      .door {
        display: flex;
        .s1 {
          width: 300px;
          height: 200px;
          border: 1px solid black;
        }
        p {
          font-weight: 300;
          font-size: 18px;
          line-height: 102.99%;
          text-align: center;
          color: #323232;
          margin-top: 10px;
        }
      }
      .drawer {
        display: flex;
        .s1 {
          width: 300px;
          height: 200px;
          border: 1px solid black;
        }
        p {
          text-align: center;
          font-weight: 300;
          font-size: 18px;
          line-height: 102.99%;
          color: #323232;
          margin-top: 10px;
        }
      }
    }
    @media (max-width: 1000px) {
      .pro {
        margin: 0;
        margin-top: 50px;
        p {
          margin: 0;
          margin-left: 90px;
          font-size: 20px;
        }
      }
      .bole {
        h2 {
          margin: 0;
          margin-top: 90px;
          margin-left: 35px;
          font-size: 36px;
        }
      }
      .obwi {
        margin: 0;
        margin-top: 50px;
      }
    }
    @media (max-width: 400px) {
      h3 {
        margin: 0;
        width: 208px;
        font-size: 32px;
        margin-top: 90px;
        margin-left: 35px;
      }
      .pro {
        display: block;
        margin: 0;
        p {
          margin: 0;
          margin-top: 40px;
          margin-left: 84px;
        }
      }
      .bole {
        h2 {
          width: 300px;
          margin: 0;
          margin-top: 90px;
          margin-left: 35px;
          font-size: 36px;
        }
      }
      .obwi {
        margin: 0;
        .door {
          display: block;
          margin-left: 38px;
        }
        .drawer {
          display: block;
          margin-left: 38px;
        }
      }
    }
  }
  .nik {
    margin-top: 160px;
    h4 {
      font-weight: 400;
      font-size: 48px;
      line-height: 150%;
      text-align: center;
      color: #57463a;
    }
    img {
      width: 704px;
      height: 475px;
    }
    .sar {
      margin-top: 100px;
      display: flex;
      background: #ebeeeb;
      .sar1 {
        margin-left: 40px;
        margin-top: 68px;
        h1 {
          width: 450px;
          font-weight: 400;
          font-size: 24px;
          line-height: 150%;
        }
        p {
          width: 450px;
          margin-top: 40px;
          font-weight: 300;
          font-size: 18px;
          line-height: 150%;
        }
        button {
          margin-top: 70px;
          width: 245px;
          height: 60px;
          background: #a1b29f;
          font-weight: 400;
          font-size: 16px;
          line-height: 150%;
          text-align: center;
          color: #f6f6f6;
          border: 1px solid #a1b29f;
          cursor: pointer;
        }
      }
    }
    @media (max-width: 1000px) {
      .sar {
        margin: 0;
        display: block;
        background-color: #fafafa;
        img {
          margin-top: 60px;
          width: 1000px;
          height: 600px;
        }
        .sar1 {
          h1 {
            width: 1000px;
            font-size: 30px;
          }
          p {
            font-size: 24px;
            width: 1000px;
          }
        }
      }
    }
    @media (max-width: 400px) {
      h4 {
        font-size: 32px;
        width: 300px;
        margin-left: 35px;
      }
      .sar {
        margin: 0;
        display: block;
        background-color: #fafafa;
        img {
          margin-top: 60px;
          width: 400px;
          height: 253px;
        }
        .sar1 {
          h1 {
            width: 318px;
          }
          p {
            width: 318px;
          }
        }
      }
    }
  }
  .pom {
    margin-left: 140px;
    h2 {
      margin-top: 160px;
      font-weight: 400;
      font-size: 48px;
      line-height: 150%;
      color: #57463a;
    }
    h3 {
      margin-top: 200px;
      font-weight: 400;
      font-size: 48px;
      line-height: 150%;
      color: #57463a;
    }
    .back {
      width: 1160px;
      height: 500px;
      background: #c4c4c4;
      border: 1px solid black;
      margin-top: 100px;
      img {
        margin-top: 240px;
        margin-left: 558px;
      }
    }
    @media (max-width: 1000px) {
      margin: 0;
      h2 {
        width: 750px;
        margin: 0;
        margin-top: 90px;
        margin-left: 37px;
      }
      h3 {
        margin-left: 37px;
        text-align: center;
        font-weight: 400;
        font-size: 40px;
        line-height: 150%;
      }
      .back {
        width: 1000px;
        height: 450px;
        margin-top: 60px;
        img {
          margin: 0;
          margin-top: 220px;
          margin-left: 440px;
        }
      }
    }
    @media (max-width: 400px) {
      margin: 0;
      h2 {
        width: 300px;
        margin: 0;
        margin-top: 90px;
        margin-left: 37px;
      }
      h3 {
        margin-left: 37px;
        width: 250px;
        font-weight: 400;
        font-size: 40px;
        line-height: 150%;
      }
      .back {
        width: 400px;
        height: 226.29px;
        margin-top: 60px;
        img {
          margin: 0;
          margin-top: 100px;
          margin-left: 170px;
        }
      }
    }
  }
  .obw {
    margin-top: 100px;
    .mebel {
      background: #e3dace;
      display: flex;
      img {
        width: 720px;
        height: 536.33px;
      }
      .mebel1 {
        margin-left: 41px;
        h3 {
          margin-top: 110px;
          font-weight: 400;
          font-size: 24px;
          line-height: 150%;
        }
        p {
          width: 480px;
          margin-top: 40px;
          font-weight: 300;
          font-size: 18px;
          line-height: 150%;
        }
        button {
          margin-top: 55px;
          width: 245px;
          height: 60px;
          background: #a1b29f;
          font-weight: 400;
          font-size: 16px;
          line-height: 150%;
          text-align: center;
          color: #f6f6f6;
          border: 1px solid #a1b29f;
        }
      }
    }
    @media (max-width: 1000px) {
      .mebel {
        display: block;
        img {
          width: 1000px;
          height: 570px;
        }
        .mebel1 {
          margin: 0;
          margin-left: 30px;
          h3 {
            font-size: 30px;
            text-align: center;
          }
          p {
            font-size: 22px;
            width: 980px;
          }
        }
      }
    }
    @media (max-width: 400px) {
      .mebel {
        display: block;
        img {
          width: 400px;
          height: 279.34px;
        }
        .mebel1 {
          p {
            width: 294px;
          }
        }
      }
    }
  }
  .oxiron {
    margin-top: 200px;
    margin-left: 140px;
    width: 1160px;
    height: 590px;
    border: 7px solid #a1b29f;
    .garan {
      margin-left: 13px;
      margin-top: 13px;
      width: 1135px;
      height: 563px;

      border: 1px solid #715b4b;
      h3 {
        width: 650px;
        font-weight: 400;
        font-size: 48px;
        line-height: 150%;
        margin-left: 258px;
        margin-top: 92px;
        color: #57463a;
      }
      p {
        margin-left: 150px;
        margin-top: 35px;
        font-weight: 300;
        font-size: 24px;
        line-height: 150%;
        width: 850px;
      }
      img {
        margin-left: 870px;
        width: 152px;
        height: 150px;
      }
    }
    @media (max-width: 1000px) {
      width: 930px;
      height: 1000px;
      border: 7px solid #a1b29f;
      margin: 0;
      margin-top: 150px;
      margin-left: 35px;
      .garan {
        width: 900px;
        height: 970px;
        margin: 0;
        margin-top: 12px;
        margin-left: 12px;
        h3 {
          margin: 0;
          width: 900px;
          margin-top: 50px;
          margin-left: 90px;
        }
        p {
          margin: 0;
          font-size: 30px;
          width: 900px;
          margin-left: 20px;
          margin-top: 150px;
        }
        img {
          margin: 0;
          width: 169px;
          height: 168px;
          margin-left: 700px;
        }
      }
    }
    @media (max-width: 400px) {
      width: 330px;
      height: 425px;
      border: 7px solid #a1b29f;
      margin: 0;
      margin-top: 150px;
      margin-left: 35px;
      .garan {
        width: 300px;
        height: 401px;
        margin: 0;
        margin-top: 12px;
        margin-left: 12px;
        h3 {
          margin: 0;
          margin-top: 20px;
          margin-left: 10px;
          width: 270px;
          font-size: 20px;
        }
        p {
          margin: 0;
          font-size: 16px;
          width: 266px;
          margin-left: 10px;
          margin-top: 50px;
        }
        img {
          margin: 0;
          width: 69px;
          height: 68px;
          margin-left: 200px;
        }
      }
    }
  }
  .end {
    margin-top: 210px;
    height: 380px;
    background: #715b4b;
    display: flex;
    .end1 {
      margin-top: 84px;
      margin-left: 100px;
      color: white;
      .pp {
        width: 280px;
      }
      p {
        margin-top: 9px;
      }
    }
    .surato {
      margin-left: 38px;
      img {
        background-color: white;
        margin-left: 18px;
        margin-top: 84px;
        width: 52px;
        height: 52px;
        border-radius: 35px;
        border: 1px solid #f6f6f6;
      }
    }
  }
  @media (max-width: 1000px) {
    .end {
      width: 1000px;
      height: 400px;
      .end1 {
        margin-top: 53px;
        margin-left: 20px;
        .pp {
          width: 280px;
        }
      }
      .surato {
        margin: 0;
        margin-top: 50px;
        margin-left: 20px;
        img {
          margin: 0;
        }
      }
    }
  }
  @media (max-width: 400px) {
    .end {
      flex-direction: column;
      width: 375px;
      height: 773px;
      .end1 {
        margin: 0;
        margin-top: 53px;
        margin-left: 35px;
      }
    }
  }
}
